data/*
!data/.gitkeep
!data/demo_image.jpg
!data/demo_video.mp4

output/feature-extraction/*
!output/feature-extraction/.gitkeep
output/mask-prediction/*
!output/mask-prediction/.gitkeep

*.dvc
*.npz
*.pth
checkpoints/*.pt

.gradio/*

Pipfile.lock
